{
  "extends": "eslint:recommended",
  "env": {
      "browser": true
  },
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 6
  },
  "rules": {
    "semi": ["error", "never"],
    "indent": ["error", 2]
  }
}
